<style>
  p {
    margin: 3em;
  }
  lio-popover {
    position: absolute;
    pointer-events: none;
    padding: 15px;
    border: 1px solid #000;
    background: white;
    display: none;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .15s opacity linear;
  }
  lio-popover.active,
  lio-popover.activating {
    display: block;
  }
  lio-popover.activating,
  lio-popover.trigger.deactivating {
    opacity: 0;
  }
  lio-popover.trigger.activating {
    opacity: 1;
  }
  cite {
    border-bottom: 1px dotted #999;
    cursor: pointer;
    display:block;
  }
  .links .center {
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 150px;
    text-align: center;
  }
  .links .top cite, .links .bottom cite {
    display: inline-block;
  }
  .links .top, .links .right, .links .bottom, .links .left {
    position: fixed;
  }
  .links .top {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
  }
  .links .right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
  }
  .links .left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .links .bottom {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
  }
  lio-popover .arrow {
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    width: 0;
    height: 0;
    position:absolute;
    top: 0;
    left: 0;
  }
  lio-popover.left .arrow {
    margin-left: -2px;
    border-left-color: #000;
  }
  lio-popover.right .arrow {
    margin-left:-2px;
    border-right-color: #000;
  }
  lio-popover.top .arrow {
    margin-top: -1px;
    border-top-color: #000;
  }

  lio-popover.left.top .arrow {
    margin-left: -1px;
    border-left-color: #000;
  }

  lio-popover.top.right .arrow {
    margin-left: -2px;
  }
  lio-popover.bottom .arrow {
    margin-top:-1px;
    border-bottom-color: #000;
  }
  lio-popover.bottom.left .arrow {
    margin-left: -1px;
  }
  lio-popover.bottom.right .arrow {
    margin-left:-2px;
  }
</style>

<div class="links">
  <div class="center">
    <cite id="cite1" {{action 'togglePopover' 1}}>Top</cite>
    <cite id="cite4" {{action 'togglePopover' 4}}>Left</cite>
    <cite id="cite2" {{action 'togglePopover' 2}}>Right</cite>
    <cite id="cite3" {{action 'togglePopover' 3}}>Bottom</cite>
    <cite id="cite21" {{action 'togglePopover' 21}}>Top Left</cite>
    <cite id="cite22" {{action 'togglePopover' 22}}>Top Right</cite>
    <cite id="cite23" {{action 'togglePopover' 23}}>Bottom Left</cite>
    <cite id="cite24" {{action 'togglePopover' 24}}>Bottom Right</cite>
  </div>

  <div class="top">
    <cite id="cite5" {{action 'togglePopover' 5}}>Top</cite>
    <cite id="cite8" {{action 'togglePopover' 8}}>Left</cite>
    <cite id="cite6" {{action 'togglePopover' 6}}>Right</cite>
    <cite id="cite7" {{action 'togglePopover' 7}}>Bottom</cite>
  </div>

  <div class="right">
    <cite id="cite9" {{action 'togglePopover' 9}}>Top</cite>
    <cite id="cite12" {{action 'togglePopover' 12}}>Left</cite>
    <cite id="cite10" {{action 'togglePopover' 10}}>Right</cite>
    <cite id="cite11" {{action 'togglePopover' 11}}>Bottom</cite>
  </div>

  <div class="bottom">
    <cite id="cite13" {{action 'togglePopover' 13}}>Top</cite>
    <cite id="cite16" {{action 'togglePopover' 16}}>Left</cite>
    <cite id="cite14" {{action 'togglePopover' 14}}>Right</cite>
    <cite id="cite15" {{action 'togglePopover' 15}}>Bottom</cite>
  </div>

  <div class="left">
    <cite id="cite17" {{action 'togglePopover' 17}}>Top</cite>
    <cite id="cite20" {{action 'togglePopover' 20}}>Left</cite>
    <cite id="cite18" {{action 'togglePopover' 18}}>Right</cite>
    <cite id="cite19" {{action 'togglePopover' 19}}>Bottom</cite>
  </div>
</div>

{{#lio-popover anchor="#cite1" active=active1 position="top"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite2" active=active2 position="right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite3" active=active3 position="bottom"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite4" active=active4 position="left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}

{{#lio-popover anchor="#cite5" active=active5 position="top"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite6" active=active6 position="right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite7" active=active7 position="bottom"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite8" active=active8 position="left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}

{{#lio-popover anchor="#cite9" active=active9 position="top"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite10" active=active10 position="right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite11" active=active11 position="bottom"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite12" active=active12 position="left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}

{{#lio-popover anchor="#cite13" active=active13 position="top"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite14" active=active14 position="right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite15" active=active15 position="bottom"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite16" active=active16 position="left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}

{{#lio-popover anchor="#cite17" active=active17 position="top"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite18" active=active18 position="right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite19" active=active19 position="bottom"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite20" active=active20 position="left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}

{{#lio-popover anchor="#cite21" active=active21 position="top-left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite22" active=active22 position="top-right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite23" active=active23 position="bottom-left"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
{{#lio-popover anchor="#cite24" active=active24 position="bottom-right"}}
  <span>Here are the contents of the tooltip. I hope this is enough of a demonstration</span>
{{/lio-popover}}
